<section id="contact" class="paper-form">
  <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
    <input type="hidden" name="form-name" value="contact">
    <input type="text" name="bot-field" class="hidden">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="input-lg" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="input-lg" required>
    <label for="message">Message</label>
    <textarea id="message" name="message" rows="5" class="input-lg" required></textarea>
    <button type="submit" class="btn-primary">Send ✉️</button>
  </form>
</section>